* {
    box-sizing: border-box;
    text-align: center;
    margin:  0px auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #A7CCED;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #5C86B4;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 20px;
}

nav {
    background-color: #74B5F1;
    font-family: Arial;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 14px 16px;
}

nav a:hover {
    background-color: #a7cced;
    color: white;
}

main {
    background-color: #A7CCED;
    width: 50%;
}

.card {
    background-size: cover;
    background-color: white;
    background-image: url(../img/background/background.jpg);
    margin: 20px 10px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.card img{
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5C86B4;
    color: white;
    padding: 10px;
    text-align: center;
}

.floating-image {
    position: fixed;
    top: 21%;
    transform: translateY(-50%);
    z-index: 999; /* 確保圖片在最上層 */
}

.floating-image img {
    width: 150px; /* 調整圖片的寬度 */
    height: auto; /* 讓圖片保持比例 */
}

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* 確保按鈕在最上層 */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-top-btn:hover {
    background-color: #0056b3;
}

